@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "yum";
}

<nav>
    <a asp-controller="first" asp-action="Index"a>Home</a>
    <a asp-controller="First" asp-action="Calculator">Calculator</a>
</nav>

<header>Jessie</header>
<img src="img/bird (3).jpg" />
<p>Does this actually have to be a whole paragraph? Or just like in paragraph tags? Umm what I want to get out of IS 413... good skills for future jobs, ability to problem solve and debug, a better looking resume. I hope to get all of this while also maintaining my relationship with my boyfriend but we'll see.</p>
<br />
<p>Top Job's'</p>
<ol>
    <li>Software Developer</li>
    <li>Data Analyst</li>
    <li>Project Manager</li>=
</ol>
<p>Full disclosure, these are the only jobs I've heard of in the IS major'</p>
<br />

<div class="form-group showdata">
    <p id="showdata"></p>
</div>

